.contentWrapper{
	display: flex;
	justify-content: flex-start;
	height: 90%;
	width: 100%;
}
.contentArea{
	background-color: #f2fae1;
	font-size: 18px;
	width: 100%;
	padding: 24px;
	border: none;
	outline: none;
	margin: 0;
	overflow-y: auto;
	resize: none;
	color: #747D8C;
}
