.textWrapper{
    height: 400px;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray; 
    border-radius: 4px;
}